{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='/assets/img/home-bg.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="https://www.mentaltoughness.partners/what-is-mental-toughness/">
                            <h2 class="post-title">What is Mental Toughness?</h2>
                            <h3 class="post-subtitle">Mental Toughness is a personality trait that determines your
                                ability to perform consistently under stress</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="https://www.huffpost.com/entry/psychologist-adhd-signs-symptoms-wrong_n_64195cb2e4b0bc5cb6523333">
                            <h2 class="post-title">I'm A Psychologist Who Specialized In ADHD. Everything I Knew About It Was Wrong..</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 18, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="https://www.mentaltoughness.partners/why-mental-toughness-is-critically-important/">
                            <h2 class="post-title">Why Mental Toughness Is Critically Important?</h2>
                            <h3 class="post-subtitle">Mental Toughness is a personality trait which describes mindset</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="https://www.verywellmind.com/how-to-know-when-youre-overthinking-5077069">
                            <h2 class="post-title">Failure is not an option</h2>
                            <h3 class="post-subtitle">How to Stop Overthinking</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on July 8, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% include 'footer.html' %}